<?xml version="1.0" encoding="utf-8"?>
<configSettings>
	<settings>
	     <label label1="XML1" label2="xml2">XML Default</label>
	     <apptitle>Anne Arundel County</apptitle>
	     <customerlogo>
	     	<source></source>
	     </customerlogo>
	     <map xmlns:dt="urn:schemas-microsoft-com:datatypes">
	     	<zoomslider>true</zoomslider>
	     	<xmin>-8611972.436839659</xmin>
	     	<ymin>4703675.182184274</ymin>
	     	<xmax>-8447665.8582265</xmax>
	     	<ymax>4779716.584267079</ymax>
	     	<wkid>102100</wkid>
	     	<localWKID>2223</localWKID>
	     	<northarrow>source=@Embed(source='src/assets/icons/NorthArrow.png')</northarrow>	     	
	     </map>
	     <vetiledlayerstreet culture="en-US" key="Ao-1ZsdYgIJ78TGQYHHQ2BucDl37tg1R3iPX1ekLuMMoj7b3pOMkQHUV-myGUr3I" loaderror="Alert.show(event.fault.faultString, 'VETiledLayer loadError')" mapstyle="road"/>        
		 <gridlayer>
		 	<id>GridLayer</id>
		 	<url></url>
		 	<alpha>.7</alpha>
		 </gridlayer>
		 <dynamiclayer>
		 	<id>GISLayer</id>
		 	<url>http://www.mywachswater.com/arcgis/rest/services/Leak_Detection/LeakDetection_LeakPoints/MapServer</url>
		 	<alpha>.8</alpha>
		 </dynamiclayer>
		 <dynamiclayer2>
		 	<id>QueryLayer</id>
		 	<url>http://www.mywachswater.com/arcgis/rest/services/AnneArundel/AnneArundel_Query/MapServer</url>
		 	<alpha>.8</alpha>
		 </dynamiclayer2>
		 <dynamiclayer3>
		 	<id>GridAssignmentLayer</id>
		 	<url></url>
		 	<alpha>.9</alpha>
		 </dynamiclayer3>
		 <querytaskquickselect>
		 	<url>http://www.mywachswater.com/arcgis/rest/services/AnneArundel/AnneArundel_Query/MapServer</url>
		 </querytaskquickselect>
		 <querytaskquerypanel>
		 	<url>http://www.mywachswater.com/arcgis/rest/services/AnneArundel/AnneArundel_Query/MapServer</url>
		 	<ValveStatusIndex>0</ValveStatusIndex>
		 	<ActivitiesIndex>2</ActivitiesIndex>
		 </querytaskquerypanel>
		 <querytaskworkorders>
		 	<url></url>
		 </querytaskworkorders>
		 <querytaskvalves source="Valve_Status">
		 	<url>http://www.mywachswater.com/arcgis/rest/services/AnneArundel/AnneArundel_Query/MapServer/0</url>
		 </querytaskvalves>
		 <querytaskvalveactivities source="Valve_Activities">
		 	<url>http://www.mywachswater.com/arcgis/rest/services/AnneArundel/AnneArundel_Query/MapServer/2</url>
		 </querytaskvalveactivities>
		 <dbquerying source="Valve_Activities">
		 	<url>http://www.mywachswater.com/arcgis/rest/services/AnneArundel/AnneArundel_Query/MapServer/2</url>
		 	<dbuniqueid>TRANSFERRED_FACILITYID</dbuniqueid>
		 	<outFields>*</outFields>
		 </dbquerying>
		 <dbqueryingHYD source="Hydrant_Activities">
		 	<url></url>
		 	<dbuniqueid></dbuniqueid>
		 	<outFields></outFields>
 		 </dbqueryingHYD>
		 <identifytask>
		 	<url></url>
		 </identifytask>
		 <findtasksite>
		 	<url>http://www.mywachswater.com/arcgis/rest/services/AnneArundel/AnneArundel_Query/MapServer/find</url>
		 </findtasksite>
		 <findtasksiteHWOs>
		 	<url></url>
		 </findtasksiteHWOs>
		 <findaddressparams>
		 	<defaultAddress>2662 Riva Rd, Annapolis, MD 21401</defaultAddress>
		 </findaddressparams>
		 <findtileparams>
		 	<layerids></layerids>  
		 	<searchfields></searchfields>
		 	<defaultTile></defaultTile>
		 </findtileparams>
		 <findvalveactivitiesparams>
		 	<layerids>2</layerids>
		 	<searchfields>TRANSFERRED_FACILITYID</searchfields>
		 </findvalveactivitiesparams>
		 <findvalveparamsvnum>
		 	<layerids>0</layerids>
		 	<searchfields>FacilityID</searchfields>
		 	<defaultValve>11898A</defaultValve>
		 </findvalveparamsvnum>	
		 <findhydrantparamshnum>
		 	<layerids></layerids>
		 	<searchfields></searchfields>
		 	<defaultHydrant></defaultHydrant>
		 </findhydrantparamshnum>
		 <findvalveparamsassetid>
		 	<layerids>0</layerids>
		 	<searchfields>FacilityID</searchfields>
		 </findvalveparamsassetid>
		 <findHWOvalveparamsassetid>
		 	<layerids>X</layerids>
		 	<searchfields></searchfields>
		 </findHWOvalveparamsassetid>	
		 <findtaskisosite>
		 	<url></url>
		 </findtaskisosite>
		 <findisoparams>
		 	<layerids></layerids>
		 	<searchfields></searchfields>
		 </findisoparams>
		 <infowindowfeaturelayer  source="Valve_Status">
		 	<url>http://www.mywachswater.com/arcgis/rest/services/AnneArundel/AnneArundel_Query/MapServer/0</url>
		 </infowindowfeaturelayer>
		 <infowindowfeaturelayerHyd>
		 	<url></url>
		 </infowindowfeaturelayerHyd>
		 <homelink>
		 	<url>http://www.wachsws.com/</url>
		 </homelink>
		 <newslink>
		 	<url></url>
		 </newslink>
		 <solutionslink>
		 	<url></url>
		 </solutionslink>
		 <serviceslink>
		 	<url></url>
		 </serviceslink>
		 <querylayer>
		 	<valvequerylayer></valvequerylayer>
		 	<hydrantquerylayer></hydrantquerylayer>
		 	<tilequerylayer></tilequerylayer>
		 </querylayer>
		 <reports>
		 	<r1 url=""/>
		 	<r2 url=""/>
		 </reports>		 	          
	</settings>
</configSettings>